@model denemeportfolio.Models.TblBanner
@{
    ViewBag.Title = "CreateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Banner Ekleme</h2>

<form method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

    <label>Banner açıklaması</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })

    <label>Banner Resmi</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Banner kaydet</button>
</form>


