<nav id="sidebar" class="active">
    <h1><a href="index.html" class="logo">M.</a></h1>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="#"><span class="fa fa-home"></span> Anasayfa</a>
        </li>
        <li>
            <a href="/About/AboutList/"><span class="fa fa-user"></span> Hakkında</a>
        </li>
        <li>
            <a href="/Project/Index"><span class="fa fa-sticky-note"></span> Projelerim</a>
        </li>
        <li>
            <a href="/Service/ServiceList/"><span class="fa fa-cogs"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-paper-plane"></span> iletişim</a>
        </li>
    </ul>

    <div class="footer">
        <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>Tüm hakları saklıdır 
        </p>
    </div>
</nav>
