<nav id="sidebar" class="active">
    <h1><a href="index.html" class="logo">N.</a></h1>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="#"><span class="fa fa-home"></span> Anasayfa</a>
        </li>
        <li>
            <a href="/About/AboutList/"><span class="fa fa-user"></span> Hakkında</a>
        </li>
        <li>
            <a href="/Project/Index"><span class="fa fa-sticky-note"></span> Projelerim</a>
        </li>
        <li>
            <a href="/Service/ServiceList/"><span class="fa fa-cogs"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/Skill/SkillList"><span class="fa fa-paper-plane"></span> Yeteneklerim</a>
        </li>
        <li>
            <a href="/Statistic/Index"><span class="fa fa-bar-chart"></span> İstatistiklerim</a>
        </li>
        <li>
            <a href="/Testimonial/Index"><span class="fa fa-comments"></span> Referanslarım</a>
        </li>
        <li>
            <a href="/Contact/Index"><span class="fa fa-paper-plane"></span> İletişim</a>
        </li>
    </ul>

    <div class="footer">
        <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır
        </p>
    </div>
</nav>

<style>
    #sidebar {
        background-color: #2C3E50; /* Sidebar arka plan rengi */
        color: #ECF0F1; /* Yazı rengi */
    }
        #sidebar .logo {
            color: #95A5A6; /* Gri rengi */
        }


        #sidebar ul.components li a {
            color: #ECF0F1; /* Menü öğesi yazı rengi */
            transition: color 0.3s ease, background-color 0.3s ease;
        }

        

        #sidebar .footer p {
            color: #95A5A6; /* Footer yazı rengi */
        }
</style>
