
@model List<denemeportfolio.Models.TblAdress>
<div class="col-md">
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Bir sorunuz mu var?</h2>
        <div class="block-23 mb-3">
            @foreach (var item in Model)
            {
                <ul>
                    <li><span class="icon fa fa-map marker"></span><span class="text">@item.Adress</span></li>
                    <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">@item.Phone</span></a></li>
                    <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">@item.Email</span></a></li>
                </ul>
            }

        </div>
        <ul class="ftco-footer-social list-unstyled mt-2">
            <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
        </ul>
    </div>
    

</div>
