@model denemeportfolio.Models.TblHobby

@{
    ViewBag.Title = "UpdateHobby";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Hobi Güncelleme Sayfası</h3>
<form method="post">
    <label>Hobby ID</label>
    <input type="text" class="form-control" name="HobbyId" value="@Model.HobbyId" />

    <label>Hobby Resmi</label>
    <input type="text" class="form-control" name="IconUrl" value="@Model.IconUrl" />

    <label>Hobby Adı</label>
    <input type="text" class="form-control" name="Title" value="@Model.Title" />

    <br /><br />
    <button class="btn btn-info">Hobi Güncelle</button>
</form>